.home {
  padding: 20px;
}

.image-picker {
  width: 180px;
  height: 150px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.title {
  border: solid;
  border-bottom: none;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  height: 25px;
  width: 100px;
  font-size: 12px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.form-content {
  padding: 10px;
  border: solid;
  border-color: black;
  border-width: 1px;
  width: 200px;
  border-radius: 5px;
}

.image {
  margin-top: 0;
  margin-left: 6px;
  width: 100%;
}

.text-area {
  margin-top: 5px;
}

.name-input {
}

.icon-button {
  margin-left: 150px;
}

.image-text {
  font-size: 12px;
}
